.about_main{
    background-image: url(../assets//wallpaperflare.com_wallpaper\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    
}


.blur{
    backdrop-filter: blur(7px);
    width:100vw;
    display: "flex";
}


.about_box{
    color:black;
    padding: 0.5rem;
    color: white;
    text-align: center;

}


.about_box2{
    color:black;
    padding: 1rem;
    color: white;
text-align: center;


}